# Python-related
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Big files
*.gguf

# Training checkpoints
checkpoint-*

# Docker environment files and secrets
*.env
*.secret
GITHUB_TOKEN