services:
  politw:
    env_file: "variables.env" # passes current version and HuggingFace token; technically useless bc compose already fetches it

    image: mizugreg/politw:1.8
    container_name: politw_cont

    build:
      secrets:
        - GITHUB_TOKEN # for cloning repo
      context: .
    
    ports:
      - "8888:8888"

    volumes:
      - ../:/TextWorld/notebooks/LLM-PTG
    
    # user: "${UID}:${GID}"

    deploy:
      resources:
        reservations:
          devices:
          - driver: nvidia
            device_ids: ['0'] # for using nvidia gpu inside container
            capabilities: [gpu]

secrets:
  GITHUB_TOKEN:
    file: GITHUB_TOKEN
